# Exclude development files and folders
.vscode/
.vscode-test/
node_modules/
src/
test/
docs/
.venv/
python-backend/.venv/
**/__pycache__/

# Exclude build artifacts
*.vsix
**/*.map

# Exclude project configuration
.gitignore
package-lock.json
tsconfig.json
